.modgit/

*.psd
*.fla
*.eps

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
_notes/
_originals/
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
dwsync.xml

c.php
/c.php
/config.php
/inc/c.php
inc/c.php
/wp-config.php
/wordpress/wp-config.php
/admin/wp-config.php
wp-admin

git/
